body {
  background-color: #f3f4f6;
  font-family: "Trirong", serif;
}

a {
  color: currentColor;
  text-decoration: none;
}

#container {
  padding: 30px;
  background-color: white;
  margin: 20px;
  box-shadow: 0 0 3px 3px #dad0d0;
  display: flex;
  column-gap: 2%;
  flex-wrap: wrap;
}

#container > .divq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hotpink;
  padding: 2%;
}
