body {
  font-family: "Trirong", serif;
  /* margin: 0;
  padding: 0; */
}

a {
  color: currentColor;
  text-decoration: none;
}

.parent {
  position: relative;
  background-color: hsla(298, 43%, 60%, 1);
  /* width: 500px; */
  /* height: 600px; */
}
.child {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsla(131, 100%, 67%, 0.88);
  width: 100px;
  height: 100px;
}

.parent1 {
  position: relative;
  background-color: whitesmoke;
  border-style: groove;
  /* width: 500px; */
}

.child1 {
  background-color: #a7392090;
  border-style: solid;
  width: 100px;
  height: 100px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.parent3 {
  background-color: lightcoral;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.child3 {
  background-color: mediumseagreen;
  width: 100px;
  border-style: solid;
}

.parent5 {
  height: 500px;
  background-color: hotpink;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(4, 100px);
}

.child5 {
  background-color: whitesmoke;
  border-style: double;
}
