:root {
  --text-color2: rgb(5, 83, 30);
  --text-color1: whitesmoke;
  --box-bg-color: hsl(200, 70%, 30%);
  --background-color: whitesmoke;
  --bg-colur: rgb(210, 233, 84);
  --grid-bg-color: hsl(45, 51%, 73%);
}

body {
  background: var(--background-color);
  font-weight: bold;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 200px 2fr;
  grid-template-rows: 80px 100px 350px;
  place-items: center;
  border-width: 0.1rem;
  border-style: solid;
}

.grid li {
  background-color: var(--grid-bg-color);
  color: var(--text-color2);
  height: 60px;
  width: 70px;
}

.container {
  margin: 2px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.top {
  background-color: var(--bg-colur);
  margin: 1rem;
  padding: 1rem;
}

.center-good {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  background-color: var(--box-bg-color);
  width: 100px;
  height: 100px;
  color: var(--text-color1);
}

.classic {
  width: 100px;
  height: 100px;
  border-style: solid;
  border-color: hsl(30, 70%, 21%);
  border-width: 0.1rem;
  color: var(--text-color2);
}
